In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("second_hand_cars.csv")

df.head(3)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500

In [ ]:
# Lo primero, eliminamos los nans

df.dropna(inplace = True)

In [ ]:
# Veamos como se relacionan todas las columnas con "Price".

for col in df.columns:
    sns.scatterplot(x = df[col], y = df["Price"], color = "r")
    plt.show()

In [ ]:
# Vamos a tomar la columna, de valores continuos: "Year".

df[["Year", "Price"]]